<phpunit
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        colors="true"
        bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="base">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
            <exclude>
                <directory suffix=".php">src/Exception/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
